@import '../src/components/variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  width: 100%;
}

.img:hover {
  -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease;
} 
